@font-face {
    font-family: 'Burgernation';
    src: url('Burgernation.otf') format('opentype');
}

body {
    font-family: 'Burgernation', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: rotate(360deg);
}

header {
    background-color: #FFDB58;
    color: #9a0404;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

.animated-title {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #900303;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus {
    color: #000;
    font-size: 20px;
}

.hamburguesas {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.hamburguesa {
    text-align: center;
    width: 18%;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.hamburguesa img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hamburguesa:hover img {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.centered-section, .reserva, #reseñas, #faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.faq-item {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    background-color: #FFDB58;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-family: Burgernation, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #e6c44e;
}

.faq-answer {
    padding: 10px;
    display: none;
    background-color: #f4f4f4;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #FFDB58;
    color: #333;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
